<header class="header">
  <div class="header__container">
    <nav class="header__nav">
      <ul style="list-style: none;" class="header__menu">
        <li class="header__menu-item">
          <a href="../../about-us.html" class="header__link">About Us</a>
        </li>
        <li class="header__menu-item">
          <a href="../../menu.html" class="header__link">Menu</a>
        </li>
        <li class="header__menu-item">
          <a href="#special" class="header__link">Special</a>
        </li>
      </ul>

      <img width="129"
        src="../../assets/images/global/mr-snowman-logo.svg"
        alt="Mr. Snowman Cafe logo. Three ice cream balls in an icecream cup."
        class
      />

      <ul class="header__menu">
        <li class="header__menu-item">
          <a href="#ingredients" class="header__link">Ingredients</a>
        </li>
        <li class="header__menu-item">
          <a href="#blog" class="header__link">Blog</a>
        </li>
        <li class="header__menu-item">
          <a href="../../contacts.html" class="header__link">Contacts</a>
        </li>
      </ul>
    </nav>
    <h1 class="header__title">Mr. Snowman Cafe</h1>
  </div>
</header>
