<footer>
  <div>
    class="footer__container">
    <section class="footer__about">
      <h2 class="footer__title">About Us</h2>
      <p class="footer__text">Learn more about our story and mission.</p>
    </section>
    <section class="footer__links">
      <h2 class="footer__title">Quick Links</h2>
      <ul class="footer__menu">
        <li><a href="#" class="footer__link">Contact</a></li>
        <li><a href="#" class="footer__link">Privacy Policy</a></li>
      </ul>
    </section>
  </div>
</footer>
