<div id="products" class="products">
  <article class="products_item">
    <img
      src="./assets/images/index/desserts.png"
      class="products__image"
      alt="A vibrant image of a colorful ice cream dessert with scoops of green, orange, and yellow ice cream, surrounded by fresh strawberries, mint leaves, chocolate pieces, and decorative rolled wafer sticks, set against a pink background."
    />
    <h3 class="products__title">Desserts</h3>
    <a href="#" class="products_link">View Menu</a>
  </article>
  <article class="products_item">
    <img
      src="./assets/images/index/milk-shakes.png"
      alt="A delicious milkshake topped with whipped cream swirled with strawberry syrup, garnished with a fresh strawberry, mint leaves, and two red-and-white striped straws, set against a deep purple background with scattered almonds, chocolate pieces, and mint leaves."
      class="products__image"
    />
    <h3 class="products__title">Milk Shakes</h3>
    <a href="#" class="products_link">View Menu</a>
  </article>
  <article class="products_item">
    <img
      src="./assets/images/index/ice-cream.png"
      alt="A vibrant dessert featuring scoops of chocolate, mint, and strawberry swirl ice cream, garnished with fresh kiwi slices, blueberries, raspberries, strawberries, mint leaves, and chocolate shavings, set against a pink background with scattered berries and mint leaves."
      class="products__image"
    />
    <h3 class="products__title">Ice Cream</h3>
    <a href="#" class="products_link">View Menu</a>
  </article>
</div>
