<section class="our-menu">
    <section class="our-menu">
        <h2 class="our-menu__title">Featured Desserts & Treats</h2>
        <div class="our-menu__list">
            <div class="our-menu__item">
                <img
                    src="dessert1.jpg"
                    alt="Sweet Day"
                    class="our-menu__image"
                />
                <h3 class="our-menu__name">Sweet Day</h3>
                <span class="our-menu__price">$15</span>
            </div>
            <div class="our-menu__item">
                <img
                    src="dessert2.jpg"
                    alt="Gentle Cloud"
                    class="our-menu__image"
                />
                <h3 class="our-menu__name">Gentle Cloud</h3>
                <span class="our-menu__price">$12</span>
            </div>
            <div class="our-menu__item">
                <img
                    src="dessert3.jpg"
                    alt="Rose Sparkle"
                    class="our-menu__image"
                />
                <h3 class="our-menu__name">Rose Sparkle</h3>
                <span class="our-menu__price">$15</span>
            </div>
        </div>
    </section>
</section>
