<section class="flavors">
    <h2 class="flavors__heading">Ice cream tastes</h2>
    <p class="flavors__tagline">Select Your Favorite Taste</p>
    <p class="flavors__text">From strawberry to coconut, we have them all!</p>
    <div class="flavors__list">
      <article class="flavors_list-item">
        <img src="strawberry.png" alt="Strawberry" class="flavors__image" />
        <h3 class="flavor__name">Strawberry Bon</h3>
      </article>
      <article class="flavors_list-item">
        <img src="chocolate.png" alt="Chocolate" class="flavors__image" />
        <h3 class="flavor__name">Choco Delight</h3>
      </article>
    </div>
  </section>